<ion-header>
  <ion-toolbar color="danger">
    <ion-title>descripcion Aplicacion</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
          </ion-buttons>
          <ion-button ion-button block color="primary" slot="end" (click)="btnclicked()" routerLink="/login">SALIR</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="carta">
    <h3 align="center"><b>Aplicacion Grupo #3</b></h3>
    <h5><b>Bueno esta aplicacion que estamos realizando es el proyecto de nuestro grupo para la clase 
      Aplicacion Movil Impartida por el ingeniero Luis Aguilar, cabe mencionar que esta aplicacion
      cuenta con un carrusel de imagenes en la pagina de inicio, ademas cuenta con un menu lateral en el
      cual se encuentran una serie de opciones para ir cada pagina como lo son la pagina de contactos, 
      descripcion de la app, descripcion del grupo y la tabla de trabajo
    </b></h5>
  </ion-card>
  <ion-card>
    <img src="https://png.pngtree.com/template/20210216/ourlarge/pngtree-smart-home-networking-commercial-connected-technology-systems-for-homes-vector-logo-image_486375.jpg" alt="" height="100%" width="100%">
  </ion-card>
</ion-content>
