<ion-header>
  <ion-toolbar color="danger">
    <ion-title>tablaTrabajo</ion-title>
       <ion-buttons slot="start">
<ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-button ion-button block color="primary" slot="end" (click)="btnclicked()" routerLink="/login" >SALIR</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
       
      </ion-col>
      <ion-col>
        
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col class="f" align="center">
        Nombre
      </ion-col>
      <ion-col class="f" align="center">
        Distribucion Del trabajo
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col class="a" align="center">
        Maryori Medrano
      </ion-col>
      <ion-col class="a" align="center">
      desarrollo pagina contactos
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col class="b" align="center">
        Marvin Ochoa
      </ion-col>
      <ion-col class="b" align="center">
        desarrollo pagina descripcion aplicacion
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col class="c" align="center">
        Jeny Mejia
      </ion-col>
      <ion-col class="c" align="center">
        desarrollo pagina descripcion integrantes
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col class="d" align="center">
        Manuel molina
      </ion-col>
      <ion-col class="d" align="center">
        codificacion terminal, home y app.component.html
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col class="e" align="center">
        Yoleth Gutierrez
      </ion-col>
      <ion-col class="e" align="center">
        desarrollo tabla de trabajo y home
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
