.a {
    
    background-color: rgb(12, 216, 172);
    }
    .b {
    
        background-color: rgb(166, 173, 172);
        }
        .c {
    
            background-color: rgb(12, 216, 172);
            }
            .d {
    
                background-color: rgb(166, 173, 172);
                }
                .e {
    
                    background-color: rgb(12, 216, 172);
                    }
                    .f {
    
                        background-color: rgb(9, 198, 231);
                        }