
   <ion-app>
    <ion-header >
      <ion-toolbar >
        <ion-title class="s"><p align="center">LOGIN</p></ion-title>
        
      </ion-toolbar>
    </ion-header>
<ion-content class="image">
  
  <div class="content">
    <!--<img src="https://png.pngtree.com/thumb_back/fh260/background/20190222/ourmid/
      pngtree-two-color-gradient-universal-background-material-color-matching-backgroundtwo-tone-image_
      51848.jpg" alt="">-->
<!--<div class="button-action">
<ion-button fill="clear" color="dark"  size="small"></ion-button>
<b><p class="signin-text">Acceder</p></b>
<div class="button-action">
  <ion-button fill="clear" color="dark"  size="small"></ion-button>
  <b><p class="signup-text">aaaaaaa</p></b>
  </div>
</div>-->
<ion-avatar class="g">
  <img src="https://w7.pngwing.com/pngs/439/19/png-transparent-avatar-user-profile-icon-women-wear-frock-face-holidays-women-accessories-thumbnail.png">
</ion-avatar>

<div class="ion-padding">
  <ion-input placeholder="Usuario" style="padding-left: 1opx ;font-family:'Nunito, san-serif;'"></ion-input>
<ion-input placeholder="contraseña" style="padding-left: 1opx ;font-family:'Nunito, san-serif;'"></ion-input>
</div>
<ion-button class="actionbutton" expand="full" style="text-transform: none;color: #fdf9f9;" routerLink="/home"><b>ACCEDER</b></ion-button>
<ion-grid>
<ion-row>

<ion-col size="6">
<ion-checkbox checked style="margin-bottom: 7px; margin-left: 8px;">&nbsp;
<ion-label style="display: inline-block;vertical-align: top; font-family:'Nunito, san-serif;'"><p style="font-size: small; margin-bottom: 3px;"></p></ion-label>

</ion-checkbox>


</ion-col>
<ion-col size="6">
  <ion-button fill="clear" style="font-size: small; color: #fcf8f8; margin-right: 10px; text-transform: none; font-family: 'Nunito, san-serif;'">
    <p style="font-size: small; margin-bottom: 37.5px;"><b>Forgot contraseña</b></p></ion-button>
  
  
  </ion-col>


</ion-row>
<ion-row>
<ion-col size="5" class="line">
  
  
  
  </ion-col>
  <ion-col size="2" style="text-align: center;">
  
  
  or
  </ion-col>
  <ion-col size="5" class="line">
  
  
  
  </ion-col>



</ion-row>
</ion-grid>

<ion-button class="fbbutton" fill="clear" expand="full" (click)="face()" routerLink="/home"><b>Facebook</b></ion-button>
<ion-button class="googlebutton" expand="full" (click)="go()" routerLink="/home"><b>Google</b></ion-button>
  </div>

</ion-content>
</ion-app>