<ion-header>
  <ion-toolbar color="danger">
    <ion-title>contactos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
          </ion-buttons>
          <ion-button ion-button block color="primary" slot="end" (click)="btnclicked()" routerLink="/login" >SALIR</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

<form #formulario>
  <ion-row>

    <ion-col>
    <ion-item>
    
      <ion-label floating></ion-label>
      <ion-input ></ion-input>
    </ion-item>
    
    </ion-col>
    
    </ion-row>
<ion-row>

<ion-col>
<ion-item>

  <ion-label position="floating">Correo Electronico: </ion-label>
  <ion-input type="email" required  name="correo"  ngModel></ion-input>
</ion-item>

</ion-col>

</ion-row>
<ion-row>

  <ion-col>
  <ion-item>
  
    <ion-label position="floating">Nombre: </ion-label>
    <ion-input type="Nombre" required  name="nombre"  ngModel></ion-input>
  </ion-item>
  
  </ion-col>
  
  </ion-row>
  <ion-row>

    <ion-col>
    <ion-item>
    
      <ion-label position="floating">Numero de Telefono: </ion-label>
      <ion-input type="Telefono" required  name="telefono"  ngModel></ion-input>
    </ion-item>
    
    </ion-col>
    
    </ion-row>
    <ion-row>

      <ion-col>
      <ion-item>
      
        <ion-label position="floating">Direccion: </ion-label>
        <ion-input type="Direccion" required  name="direccion"  ngModel></ion-input>
      </ion-item>
      
      </ion-col>
      
      </ion-row>
      <ion-row>

        <ion-col>
        <ion-item>
        
          <ion-label position="floating">Asunto: </ion-label>
          <ion-input type="Asunto" required  name="asunto"  ngModel></ion-input>
          
        </ion-item>
        
        </ion-col>
        
        </ion-row>



        <ion-row>

          <ion-col>
          
          
            <ion-button ion-button block color="primary" (click)="ENVIAR()" >ENVIAR INFORMACION</ion-button>
            
         
          
          </ion-col>
          
          </ion-row>

</form>



</ion-content>
