<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
<ion-header>
<ion-toolbar color="primary">
<ion-title> MENU</ion-title>

</ion-toolbar>
</ion-header>
<ion-content>


<ion-list>
  <ion-menu-toggle>
    <ion-item routerLink="/home">
      <ion-icon name="home" slot="start" color="danger"></ion-icon>
      <ion-label>Home</ion-label>
      </ion-item>
  </ion-menu-toggle>
<ion-menu-toggle>
  <ion-item routerLink="/contactos">
    <ion-icon name="mail" slot="start" color="primary"></ion-icon>
    <ion-label>Contactos</ion-label>
    </ion-item>
</ion-menu-toggle>

<ion-menu-toggle>
  <ion-item routerLink="/descripcion-aplicacion">
    <ion-icon name="desktop" slot="start" color="warning"></ion-icon>
    <ion-label>Descripcion de la Aplicacion</ion-label>
    </ion-item>
</ion-menu-toggle>

  <ion-menu-toggle>
    <ion-item routerLink="/descripcion-integrantes">
      <ion-icon name="accessibility" slot="start" color="success"></ion-icon>
      <ion-label>Descripcion de los integrantes</ion-label>
      </ion-item>
  </ion-menu-toggle>
    
  <ion-menu-toggle>
    <ion-item routerLink="/tabla-trabajo">
        
      <ion-icon name="create" slot="start" color="primary"></ion-icon>
      <ion-label>Tabla de Trabajo</ion-label>
      </ion-item>
  </ion-menu-toggle>
  <ion-menu-toggle>
    <ion-item routerLink="/productos">
        
      <ion-icon name="bag-add" slot="start" color="secondary"></ion-icon>
      <ion-label>Productos</ion-label>
      </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle>
    <ion-item routerLink="/comentario">
        
      <ion-icon name="chatbox-ellipses" slot="start" color="danger"></ion-icon>
      <ion-label>Comentarios</ion-label>
      </ion-item>
     
  </ion-menu-toggle>
  
     
</ion-list>


</ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
